body{
    margin: 0;
    padding: 0;
    background-color: #3944A4;
}
.cabecalho{
    background-color: #FF9901;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI';
    font-size: 24px;
    font-weight: 900;
    margin-right: 20px;
}
.menu{
    background-color: #FF9901;
}

.container{
    width: 100%;
    height: 630px;
    background-color: #3944A4;
}

.logo{
    display: block;
    width: 300px;
    margin: 0 auto;
}
.logar{
    width: 180px;
    height: 100px;
    margin: 0 auto;
    color: white;
    font-family: 'Segoe UI';
    font-size: 16px;
    font-weight: 900;
}
.logar input{
    margin-top: 5px;
    width: 160px;
}
.btn-entrar{
    display: block;
    width: 80px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #FF9901;
    border: none;
    font-family: 'Segoe UI';
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.9s;
}
.btn-entrar:hover{
    transform: scale(1.1);
}
.rodape{
    width: 100%;
    background-color: #3944A4;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 70px;
}
.rodape p{
    margin-right: 20px;
    font-family: 'Segoe UI';
    color: white;
    font-weight: 900;
}
.codec{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.btn-cadastrar{
    width: 150px;
    margin-bottom: 20px;
    margin-left: 20px;
    background-color: #FF9901;
    border: none;
    font-family: 'Segoe UI';
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    /*transition: 0.9s;*/
    visibility: hidden;
}
.btn-cadastrar:hover{
    transform: scale(1.1);
}
.alerta{
    position: absolute;
    right: 620px;
    bottom: 647px;
    z-index: 1000;
    width: 300px;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    display: none;
}



@media (max-width: 900px){
    .cabecalho{
        background-color: #3944A4;
        width: 100%;
        height: 45px;
    }
    .menu ul{
        padding: 0;
        margin: 0;
    }
    .menu ul li a{
        margin-left: 25px;
        margin-right: 0px;
    }
    .logo{
        height: 300px;
        border: none;
    }
    .logo:hover{
        transform: none
    }
    .container{
        height: 522px;
    }
    .rodape{
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 1400px){
    .container{
        width: 100%;
        height: 554px;
    }
    .rodape{
        width: 100%;
        background-color: #3944A4;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 50px;
    }
    .logo{
        height: 300px;
        border: none;
    }
    .alerta{
        position: absolute;
        right: 535px;
        bottom: 550px;
        display: none;
    }
}
